@font-face {
    font-family: 'AlimamaDongFangDaKai';
    src: url('./AlimamaDongFangDaKai-Regular.woff2') format('woff2'),
    url('./AlimamaDongFangDaKai-Regular.woff') format('woff'),
    url('./AlimamaDongFangDaKai-Regular.ttf') format('truetype'),
    url('./AlimamaDongFangDaKai-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}